<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abi_spare.oainternalmessenger">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SplashDelay"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".QRScanActivity" />
        <activity
            android:name=".CenterActivity"
            android:label="@string/title_activity_center" />
        <activity android:name=".ReturnToMenuActivity" />
        <activity android:name=".TestNewQRScan" />
        <activity android:name=".SummaryActivity" />
        <activity android:name=".INActivity" />
        <activity android:name=".OUTActivity" />
    </application>

</manifest>